<!DOCTYPE html>


<html>

<head>


</head>
<body>

    {{>header}}
    <p>This site is created by pradeep it uses data from mapbox.com and darksky.net </p>
    <img src="https://files.mead.io/b1287366613d">
    
    {{>footer}}
</body>
</html>